<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FEHub" connectionString="Data Source=localhost;Initial Catalog=FEHub;Integrated Security=true"/>
    <!--<add name="FEHub" connectionString="Data Source=C:\Source\FEHub\fehub\fehub-api\FEHub.sqlite3;"/>-->
  </connectionStrings>
</configuration>